<div class="col-md-12">
<!--   <div class="group">
    <%= link_to("New Post", new_post_path, class: "btn btn-primary pull-right")%>
  </div>
 -->
  <% @posts.each do |post| %>
    <h3><%= link_to(post.title, post_path(post)) %></h3>
    <% if current_user == post.blog_owner %>
      <%= link_to("Edit", edit_post_path(post), class: "btn btn-primary") %>
      <%= link_to("Delete", post_path(post), class: "btn btn-primary",
                  method: :delete, data: {confirm: "Are you sure?"}) %>
    <% end %>
    <br>
    <p><%= post.created_at.strftime("Submitted at %B %-d, %Y")%></p>
    <%= truncate(post.content)%>
    <hr>
  <% end %>
</div>
