<div class="col-md-12">
  <div class="group">
    <%= link_to("Edit", edit_post_path, class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @post.title %></h2>
  <p><%= @post.content %></p>
  <hr>

  <%= link_to("Comment", new_post_comment_path(@post), class: "btn btn-primary pull-right")%>
  <br>
  <% @comments.each do |comment| %>
    <h4><%= comment.content %></h4>
    <% if current_user == @post.blog_owner %>
      <%= link_to("Delete", post_comment_path(comment.post, comment), method: :delete, class: "btn btn-danger pull-right")%>
    <% end %>
  <% end %>
</div>
