<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <%= render "common/navbar" %>
  <div class="row">
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item"><%= link_to("About Me", account_owner_path, method: :get) %></li>
        <li class="list-group-item">Facebook</li>
        <li class="list-group-item">Twitter</li>
      </ul>
    </div>

    <div class="col-md-8">
      <%= notice_message %>
      <%= yield %>
    </div>
  </div>
</div>

<%= render "common/footer" %>

</body>
</html>
